<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344775752862-88n7dk5oeu52i15nu3l0vcco2dlo7bok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344775752862-88n7dk5oeu52i15nu3l0vcco2dlo7bok</string>
	<key>API_KEY</key>
	<string>AIzaSyCD0v0O0-8FtSYZvJ4pAUOO-fYqdGa8vHI</string>
	<key>GCM_SENDER_ID</key>
	<string>344775752862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dinnerPlanner</string>
	<key>PROJECT_ID</key>
	<string>dinner-planner-4c7d5</string>
	<key>STORAGE_BUCKET</key>
	<string>dinner-planner-4c7d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344775752862:ios:fda6245a8d8e4ad0178f8f</string>
</dict>
</plist>